.btn-color{
    background-color: #0e1c36;
    color: #fff;
    
  }
  
  .cardbody-color{
    background-color: #ebf2fa;
  }
  
  a{
    text-decoration: none;
  }

  body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #343a40;
}

label {
    margin-bottom: 0.5rem;
    color: #495057;
}

.input_box {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

#togglePassword {
    position: relative;
    cursor: pointer;
    margin-left: -30px;
    top: -32px;
}